[Unit]
Description=uWSGI instance to serve deployflask
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/lg/api-python
Environment="PATH=/home/lg/api-python/venv/bin"
ExecStart=/home/lg/api-python/venv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 app:app

[Install]
WantedBy=multi-user.target